@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* -------------------- navbar-------------------- */
.navbar {
  height: 75px;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 70px;
  color: #fefefe;
}
.menu-btn i {
  font-size: 22px;
  cursor: pointer;
  padding: 0px 10px 0px 0px;
  display: none;
  color: #000;
}
#click {
  display: none;
}
.topNav {
  display: flex;
  list-style: none;
}

.navText {
  color: #000000;
  margin: 0 40px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.navText:hover {
  /* hover effect here underline */
}

@media (max-width: 900px) {
  .topNav {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #ffffff;
    height: 30vh;
    width: 100%;
    display: block;
    text-align: center;
  }
  #click:checked ~ .topNav {
    left: 0%;
    transition: all 0.5s linear;
  }
  .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
    font-size: 25px;
  }
  .navText {
    margin: 40px 0;
    font-size: 20px;
    display: block;
  }
  .navbar {
    padding: 0px 0px 0px 30px;
  }
}
/* -------------------- header-------------------- */
.wrapSection {
  background: transparent linear-gradient(180deg, #def0d8 0%, #fafafa 60%) 0% 0%
    no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.wrpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.greenCircle {
  position: relative;
  top: -160px;
  left: 210px;
  width: 922px;
  height: 900px;
  border-radius: 50%;
  background: #387546 0% 0% no-repeat padding-box;
}
.circleImage {
  position: relative;
  top: 185px;
  left: 50px;
}
.foodDiv {
  padding-left: 50px;
  width: 600px;
}
.foodMain {
  font-size: 64px;
  font-weight: 900;
}
.foodText {
  font-weight: 200;
  width: 430px;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}
.foodBtn {
  background: #f19a33;
  color: #ffffff;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.arrowIcon {
  font-size: 15px;
  padding: 0px 10px 0px 15px;
}
.chiliImage {
  position: relative;
  top: 80px;
  left: -90px;
}
.greenCircle2 {
  position: relative;
  top: -140px;
  left: -180px;
  width: 680px;
  height: 650px;
  border-radius: 50%;
  background: #598463 0% 0% no-repeat padding-box;
}

.circleImage2 {
  position: relative;
  top: 50px;
  left: 255px;
}
.foodArea2 {
  margin-top: -260px;
  margin-left: 170px;
}
.about {
  color: #f19a33;
  font-size: 30px;
  font-weight: 300;
  padding: 0px 0px 10px 0px;
}
.aboutHeader {
  font-size: 56px;
  padding: 0px 0px 20px 0px;
}
.aboutBtn {
  background: #387546;
  color: #ffffff;
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.aboutText {
  font-size: 24px;
  font-weight: 200;
  margin: 0px 150px 20px 0px;
  line-height: 30px;
}
